@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

body {
  margin-top: 15px;
  text-align: center;
  background-image: url(images/etch.png);
  repeat: none;
}

#container {
  outline: 1px solid black;
  height: 656px;
  width: 656px;
  margin: auto;
  margin-bottom: 15px;

}
.unit {
  outline: 1px solid #D11400;
  background-color: white;
  float: left;
}
.userButtons {
  margin-bottom: 10px;
  margin-left: 10px;
  background-color: #CCCCCC;

}
.footText {
  font-size: 3em;
  font-family: 'Fjalla One', sans-serif;
}
.footSpan {
  font-size: 0.5em;
  font-family: 'Gloria Hallelujah', cursive;
  padding-left: 20px;
}
